@charset "utf-8";

/*
	CEN2002 Final Project Final Phase - General Style Sheet
	Author: Dustin Rush
	Date: 5/8/23
	Filename: style.css
*/

/* Flex styles */

body {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}

/* Mobile screen width stuff */

@media only screen and (max-width: 480px) {
	img {
		max-width: 480px;
	}
}

/* Desktop/tablet stuff */

@media only screen and (min-width: 481px) {
	nav.horizontal ul {
		display: flex;
		flex-flow: row nowrap;
	}

	nav.horizontal li {
		flex: 1 1 auto;
	}
}

/* Specific elements */
.button {
	border-radius: 4px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #008CBA;
}

.button:hover {
	background-color: #006A98;
}